body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    display: flex;
}

#map {
    height: 100vh;
    width: 50%;
}
#map-cf {
    height: 100vh;
    width: 50%;
}