body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.map-size {
    height: 50vh;
    width: 33.333%;
}

#container-settings {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    pointer-events: none;
}

.card-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.card {
    padding: 5px;
    border-radius: 5px;
    margin: 15px;
    background: rgba(0, 0, 0, 0.795);
    color: rgb(255, 255, 255);
    pointer-events: all;
}

.default {
    text-align: center;
}

.declare {
    color: rgb(36, 138, 255);
}

.string {
    color: rgb(107, 221, 0);
    padding-left: 20px;
}